* {
    font-family: Noto Sans KR;
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.changepwd {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.loginButton {
    background-color: rgba(37.00000159442425, 107.00000122189522, 244.0000006556511, 1);
    width: 345px;
    height: 61px;
    position: absorlute;
    top: 465px;
    border-radius: 8px;
    border: none;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 17px;
    margin-bottom: 30px;
}

.currentText,
.newText,
.renewText {
    color: rgba(111.00000098347664, 111.00000098347664, 111.00000098347664, 1);
    width: 344px;
    height: 17px;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
    font-size: 12px;
    letter-spacing: -0.20000000298023224;
}


.currentPart,
.newPart,
.renewPart {
    background-color: rgba(246.0000005364418, 243.00000071525574, 243.00000071525574, 1);
    width: 345px;
    height: 63px;
    position: relative;
    border-radius: 8px;
    margin-bottom: 30px;
}

.currentArea,
.newArea,
.renewArea {
    width: 368px;
    height: 45px;
    position: absolute;
    left: 16px;
    top: 9px;
}

.currentInput,
.newInput,
.renewInput {
    color: rgba(159.0000057220459, 159.0000057220459, 159.0000057220459, 1);
    width: 368px;
    height: 23px;
    position: absolute;
    left: 0px;
    top: 22px;
    text-align: left;
    font-size: 16px;
    letter-spacing: -0.20000000298023224;
}



.changepwdText {
    color: rgba(29.000000171363354, 29.000000171363354, 32.00000189244747, 1);
    position: relative;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
}

.current,
.newpwd,
.renewpwd {
    border: none;
    background: transparent;
    color: rgba(159.0000057220459, 159.0000057220459, 159.0000057220459, 1);
    position: absolute;
    text-align: left;
    font-size: 16px;

}