* {
    font-family: Noto Sans KR;
    margin: 0;
    padding: 0;
}

main {
    width: 1100px;
    display: flex;
    margin: 0 auto;
    margin-top: 5%;
    align-items: flex-start;
}

.sideBar {
    float: left;
    width: 33.33%;
    height: auto;
}

.sideBar ul {
    float: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menuPart {
    float: right;
    margin-top: 80px;
    margin-bottom: 10px;
    margin-right: 20px;
}


.sideBar li.active a {
    color: #256BF4;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.sideBar li a {
    color: black;
    text-decoration: none;
    font-weight: thin;
}

.sideBar li a:hover {
    color: #256BF4;
}

/* 마우스 올리는*/




.right_info {
    color: rgba(29.000000171363354, 29.000000171363354, 32.00000189244747, 1);
    position: relative;
    font-size: 25px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;
}

hr {
    background: #256BF4;
    height: 3px;
    border: 0;
    border-radius: 10px;
}

.main {
    float: left;
    width: 50%;
    height: auto;
    padding: 50px;
        border-left: 1px solid #B7B7B7;
}

/* 회원탈퇴 */
#board {
    margin: 20px auto;
    width: 80%;
}

.post {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.post span {
    margin-right: 10px;
}

.career_cancel {
    background-color: #256BF4;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 98px;
}

.career_cancel:hover {
    background-color: #0069d9;
}

.career_check {
    background-color: #f13c3ce2;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 98px;
}

.career_check:hover {
    background-color: #d5352d;
}