* {
    font-family: Noto Sans KR;
    margin: 0;
    padding: 0;
}

main {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.findPasswordButton {
    background-color: rgba(37.00000159442425, 107.00000122189522, 244.0000006556511, 1);
    width: 345px;
    height: 61px;
    top: 465px;
    border-radius: 8px;
    border: none;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-size: 17px;
    margin-bottom: 30px;
}

.findPasswordButton:hover {
    background-color: #ffffff;
    color: #256BF4;
    border: 2px solid #256BF4;
}

.box {
    background-color: rgba(246.0000005364418, 243.00000071525574, 243.00000071525574, 1);
    width: 345px;
    height: 63px;
    position: relative;
    border-radius: 8px;
    margin-bottom: 30px;
}

.totalBox {
    width: 344px;
    height: 45px;
    position: absolute;
    left: 16px;
    top: 9px;
}

.titleText {
    color: rgba(111.00000098347664, 111.00000098347664, 111.00000098347664, 1);
    width: 344px;
    height: 17px;
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: left;
    font-size: 12px;
    letter-spacing: -0.20000000298023224;
}

.inputBox {
    width: 149px;
    height: 23px;
    position: absolute;
    left: 0px;
    top: 22px;
}

.findPasswordText {
    color: rgba(29.000000171363354, 29.000000171363354, 32.00000189244747, 1);
    position: relative;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 50px;
}

.id,
.name,
.phoneNumber {
    border: none;
    background: transparent;
    color: rgba(29.000000171363354, 29.000000171363354, 32.00000189244747, 1);
    position: absolute;
    text-align: left;
    font-size: 16px;

}