<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>

    <link rel="stylesheet" th:href="@{/style/find_password.css}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
    </head>

<th:block layout:fragment="content">
<body>
    <main>
        <form id="findPasswordForm" name="findPasswordForm" method="POST" modelAttribute="formData">
            <h1 class="findPasswordText">비밀번호 찾기</h1>
            <div class=box>
                <div class=totalBox>
                    <span class="titleText">아이디</span>
                    <span class=inputBox>
                        <input type="text" placeholder="아이디를 입력하세요." id="id" class="id" name="email">
                    </span>
                </div>
            </div>
            <div class=box>
                <div class=totalBox>
                    <span class="titleText">이름</span>
                    <span class=inputBox>
                        <input type="text" placeholder="이름을 입력하세요." id="name" class="name" name="name">
                    </span>
                </div>
            </div>
            <div class=box>
                <div class=totalBox>
                    <span class="titleText">핸드폰 번호</span>
                    <span class="inputBox"><input type="text" placeholder="010-0000-0000" id="phoneNumber" name="phone_number"
                            class="phoneNumber">
                    </span>
                </div>
            </div>
            <button type="submit" class=findPasswordButton>찾기</button>

        </form>
        <div th:utext="${failMsg}"></div>
        </div>
    </main>
</body>
</th:block>
</html>