<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
    <link rel="stylesheet" th:href="@{/style/footer.css}">
    <footer>
        <div class="footerContainer">
            <div class="footerLogo">
                <img th:src="@{/img/logo_white.png}" alt="footerLogo">
            </div>
            <div class="footerInfo">
                <p>Team_i | 팀장 : 배준영 | 팀원 : 김겸손 김경현 김희수 손주현 양서림 장준원 <br />
                    멀티캠퍼스 백엔드 개발자 취업캠프(Java) 7회차 프로젝트 1조 | github : https://github.com/Dinocabbage/team_i-project</p>
            </div>
        </div>
    </footer>
</th:block>
</html>

