<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
  <link rel="stylesheet" th:href="@{/style/header.css}">

  <header>
    <div class="header-container">
      <div class="headerLogo">
        <a th:href="@{/main}">
          <img th:src="@{/img/logo.png}" alt="headerLogo" width="207" height="47">
        </a>
      </div>
      <nav class="menu">
        <ul>
          <li><a th:href="@{/recruit_board}">구인글 게시판</a></li>
          <li><a th:href="@{/portfolio_board}">포트폴리오</a></li>
          <li><a th:href="@{/Qna_question}">고객센터</a></li>
        </ul>
      </nav>

      <div th:if="${session.email == null}" class="account">
        <a th:href="@{/signup_options}">회원가입</a>
        <a th:href="@{/login}">로그인</a>
      </div>

      <div th:if="${session.email != null}" class = "accountlogin">
        <a href="#"><span th:text="${session.nickname}"></span>님</a>
        <a th:if="${session.type eq '편집자' || session.type eq '유튜버'}" th:href="@{/myPage}">마이 페이지</a>
        <a th:if="${session.type eq '관리자'}" th:href="@{/memberManage}">회원관리</a>
        <form th:action = "@{/logout}" method = "POST">
          <input type = "submit" class = "logoutButton" value = "로그아웃"/>
        </form>
      </div>
    </div>
  </header>

</th:block>
</html>
