<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>고객센터: 자주 묻는 질문</title>

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans KR&display=swap" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrinkto-fit=no">

    <link rel="stylesheet" th:href="@{/style/Q&A.css}">
</head>

<th:block layout:fragment="content">

<body>
    <main>
        <div class="board_list_wrap">
        <h1><a class="nonActive" th:href="@{/Qna_question}"><b class="active1">자주 묻는 질문</b></a> | <a th:href="@{/QnAboard}">Q&A</a></h1><br />
        <div>
            <table class="board_list" id="contents">
                <caption>게시판 목록</caption>
                <tbody class="text-center">
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title" >유튜버 회원가입은 어떻게 하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>간단한 회원정보 입력 후에 회원가입을 하실 수 있습니다.
                                    회원가입시 채널인증과 아이디, 비밀번호, 이름, 닉네임, 성별, 핸드폰 번호, 주소,
                                    생년월일을 기재해야합니다.<strong></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title">편집자 회원가입은 어떻게 하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>간단한 회원정보 입력 후에 회원가입을 하실 수 있습니다. 회원가입시 아이디, 비밀번호, 이름, 닉네임, 성별, 핸드폰 번호, 주소, 생년월일을
                                    기재해야합니다.<strong></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title">비밀번호 찾기는 어떻게하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>로그인을 누른 후 비밀번호 찾기를 누른 뒤 아이디, 이름과 핸드폰 번호를 입력하여
                                    비밀번호를 찾을 수 있습니다.<strong></p>
                            </div>
                        </div>
                    </td>
                </tr>



                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title">아이디 찾기는 어떻게하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>로그인 화면에서 아이디 찾기를 눌러 아이디 찾기 화면으로 이동한 뒤
                                    이름과 핸드폰 번호를 입력하여 아이디를 찾을 수 있습니다.<strong></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title"> 회원 정보 수정은 어떻게하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>마이페이지의 내 기본 보기에 들어가면 이름, 닉네임, 휴대전화, 주소, 상세주소, 생년월일을
                                    수정 할 수 있습니다.<strong></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title">구인글 등록은 어떻게하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>유튜버로 로그인 후 구인글 게시판을 누른 뒤 구인글 작성을 누르면 등록할 수 있습니다.
                                    <strong></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title">내 구인글 확인은 어떻게 하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>마이페이지에서 작성한 구인글에서 확인가능합니다.<strong></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title">구인글 수정은 어떻게 하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>작성자만 수정할 수 있습니다.내정보보기를 누른뒤 작성한 구인글에 들어가서 수정을
                                    누르면 가능합니다.<strong></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title">구인글 삭제는 어떻게 하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>작성자만 삭제할 수 있습니다. 내정보보기를 누른뒤 작성한 구인글에 들어가서 삭제를
                                    누르면 가능합니다.<strong></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title">구인글 검색은 어떻게 하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>구인글 게시판에 들어간 뒤 검색어를 입력한 후 검색버튼을 누르면 가능합니다.<strong></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title">포트폴리오 등록은 어떻게 하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>편집자로 로그인 후 내 포트폴리오 작성를 누른 뒤 포트폴리오 작성을 누르면 등록할 수 있습니다.
                                    <strong></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title"> 포트폴리오 수정 어떻게 하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>작성자만 수정할 수 있습니다.
                                    내정보보기를 누른뒤 내 포트폴리오 보기를 누른뒤 작성한 포트폴리오에 들어가서 수정을 누르면
                                    가능합니다.<strong></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title"> 포트폴리오 삭제는 어떻게 하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>작성자만 수정할 수 있습니다.
                                    내정보보기를 누른뒤 내 포트폴리오 보기를 누른뒤 작성한 포트폴리오에 들어가서 삭제를 누르면
                                    가능합니다.<strong></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title">   내 포트폴리오 조회는 어떻게하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>내정보보기를 누른뒤 내 포트폴리오 보기에서 확인가능합니다.<strong></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title">내가 지원한 구인글 조회는 어떻게하나요?</p>
                            <div class="panel-faq-answer">
                                <p><strong>내정보보기를 누른뒤 내 포트폴리오 보기에서 확인가능합니다.<strong></p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="text-left">
                        <div class="panel-faq-container">
                            <p class="panel-faq-title">포트폴리오 공개 설정은 무엇입니까?</p>
                            <div class="panel-faq-answer">
                                <p><strong>포트폴리오 작성자가 전체 공개, 일부 공개 여부를 설정할 수 있습니다.<strong></p>
                            </div>
                        </div>
                    </td>
                </tr>


        </div>
                </tbody>
            </table>
        </div>
    </main>

    </body>
    <script th:inline="javascript">
        window.onload = () => {
  // panel-faq-container
  const panelFaqContainer = document.querySelectorAll(".panel-faq-container"); // NodeList 객체

  // panel-faq-answer
  let panelFaqAnswer = document.querySelectorAll(".panel-faq-answer");

  // btn-all-close
  const btnAllClose = document.querySelector("#btn-all-close");

  // 반복문 순회하면서 해당 FAQ제목 클릭시 콜백 처리
  for( let i=0; i < panelFaqContainer.length; i++ ) {
    panelFaqContainer[i].addEventListener('click', function() { // 클릭시 처리할 일
      // FAQ 제목 클릭시 -> 본문이 보이게끔 -> active 클래스 추가
      panelFaqAnswer[i].classList.toggle('active');
    });
  };

  btnAllClose.addEventListener('click', function() {
    // 버튼 클릭시 처리할 일
    for(let i=0; i < panelFaqAnswer.length; i++) {
        panelFaqAnswer[i].classList.remove('active');
    };
  });
}
    </script>
</th:block>
</html>